
// main container
.RestaurantSummaryContainer {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    padding: 1rem;
    height: 30vh;

}

// containers inside main container
.infoContainers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
}