// font weights

@mixin semibold {
    font-weight: 600;
}

@mixin medium {
    font-weight: 500;
}

@mixin regular {
    font-weight: 400;
}

// added this as it looked better than regular or light for some elements
@mixin light-regular {
    font-weight: 350;
}

@mixin light {
    font-weight: 300;
}