// main nav component
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2rem;
  box-shadow: 0 0 9px 3px rgba(41, 41, 41, 0.25);
}

// div that contains the links
nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20vw;
  gap: 2rem;
}

// link text
nav div a {
  color: black;
  text-decoration: none;
}
