// import css variables
@use "../../sass/mixins";
@use "../../sass/variables";

// main nav component
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2rem;
  box-shadow: 0 0 9px 3px rgba(41, 41, 41, 0.25);
  z-index: 100;
  position: sticky;
  top: 0;
  background-color: white;
}

nav h1 {
    @include mixins.regular;
}

// div that contains the links
nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20vw;
  gap: 2rem;
}

// link text
nav div a {
  color: black;
  text-decoration: none;
  @include mixins.light;
}
