body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #F4F4F7;
}

ul{
   display: block; 
   margin: 0;
   padding: 1rem;
}

  li {
    display: block;
    list-style-type: none;
  }