@use "../../sass/variables";
@use "../../sass/mixins";
// mixins are being weird, will explore implementing them properly when have access to repo.


// section (tried using classname but it didnt like it)
.fadeBackground {
    max-width: 100vw;
    background: linear-gradient(
        to bottom right,
        #39B2AB,
        #2A1B6A
    );
    color: white;
    padding: 0 2rem;
}

// heading
.fadeBackground h2 {
    padding-top: 8vh;
    @include mixins.medium;
    margin: 0;
    font-size: 3rem;
}

// subheading
.fadeBackground h3 {
    @include mixins.light;
    padding-bottom: 18vh;
    padding-top: 2vh;
    margin: 0;
    font-size: 1.5rem;
}
