.filterContainer {
    width: 100%;
    border-BOTTOM: 1.5px solid #C7C7C7;
}

.filter {
    padding: 0.2rem 0.8rem;
   margin: 1rem;
   border: 1px solid ;
   width: fit-content;
   border-radius: 3px;
}