.filterSection {
  width: 100%;
  border-bottom: 1.5px solid #c7c7c7;
}

.filterContainer {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: 2px solid;
  width: fit-content;
  border-radius: 3px;
  letter-spacing: 0.5px;
  width: 10vw;
  display: flex;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }
}
